 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

body {
  font-family: "Russo One", sans-serif;
  background-color: black;
  color: #333;
  color: gold;
  text-align: center;
  margin: 0 auto;
}
// ===========
// Menu Screen
// ===========
audio{
  height: 30px;
}
.menu-container{
  margin-top: 0px;

}
.menu-backdrop{
  background-image: url('/images/mass-effect.jpg');
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  border: 4px double gold;
  letter-spacing: 15px;
    h1{
        text-transform: uppercase;
        font-size: 60px;
    }
    button{
      background: black;
      color: gold;
      border: 1px solid gold;
      border-radius: 100px;
      padding: 10px;
      margin: 350px 0 0 0;
    }  
    button:hover{
          background: yellow;
          color: black;
          border: 1px solid black;
        }
} 
.hidden{
  display: none;

}

// =============
// Battle Screen
// =============

.battle-container{
  margin-top: 15px;
  position: relative;
}
input{
      background: transparent;
      border: none;
      width: 50px;
}

#attack1{
  color: gold;
  background: black;
  border: 1px solid gold;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  z-index: 2;
  margin-top: 42%;
  margin-left: -5%;
}
#attack1:hover{
  background: yellow;
  color: black;
}
.battle-screen{
  display: none;
    #inst{
      background: black;
      color: gold;
      border: 1px solid gold;
      border-radius: 100px;
      padding: 10px;
      margin: 10px 0 0 0;
    }
    #inst:hover{
      color: black;
      background: gold;
    }
}

.battle-screen-active{
  background-image: url('/images/battle-screen.jpg');
  display: block;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  border: 4px double gold;
  position: relative;
}

// General Prompt

.general{
  width: 500px;
  height: 650px;
  background-color: black;
  border: 4px double gold;
  border-radius: 5px;
  margin: 15px 0px 0px 350px;
  position: absolute;
  z-index: 100;
    img{
      margin: 50px 5px 0px 10px;
      border: 1px solid gold;
    }
    p{
      margin: 15px 25px 0px 25px;
    }
    button{
      background: black;
      color: gold;
      border: 1px solid gold;
      border-radius: 100px;
      padding: 10px;
      margin: 200px 0 0 0;
    }  
     button:hover{
          background: yellow;
          color: black;
          border: 1px solid black;
    }
}
.good-guys{
  float: right;
    input{
      margin-left: 60px;
    }
}
.bship1{
  background: url('/images/icons.png') no-repeat -268px -123px;
  width: 124px;
  height: 101px;
  transform: rotate(180deg);
  margin: 50px;
     div{
      display: inline-block;
      padding: 5px;
      margin: 30px 0px 0px 65px;
      color: lime;
      transform: rotate(180deg);
    }
}

.enemies{
  float: left;
    div:hover{
      cursor: pointer;
    }
    input{
      transform: rotate(180deg); 
      margin-left: 100px; 
      margin-top: 50px;
    }
}

.gship1{
  background: url('/images/icons.png') no-repeat -286px -5px;
  width: 140px;
  height: 115px;
  margin: 40px;
    div{
      padding: 5px;
      margin-left: 78px;
      color: lime;
    }
}

// ===================
// Instructions Screen
// ===================

.instructions{
  display: none;
}
.instructions-active{
  display: block;
  position: absolute;
  margin: -500px 100px 0px 350px;
  z-index: 5;
  background-color: black;
  border: 4px double gold;
  padding: 50px;
    button{
      background: black;
      color: gold;
      border: 1px solid gold;
      border-radius: 100px;
      padding: 10px;
      margin: 30px 0 0 0;
    }
    button:hover{
      background: yellow;
      color: black;
    }
}

// ===================
//   Winning Screens
// ===================

.gen-congrat{
  display: none;
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  border: 4px double gold;
    button{
      background: black;
      color: gold;
      border: 1px solid gold;
      border-radius: 100px;
      padding: 10px;
      margin: 30px 0 10px 0;
    }
    button:hover{
      color: black;
      background: yellow;
    }
}
.on-win{
  display:block;
}
.loose-screen{
  display: none;
    button{
      background: black;
      color: gold;
      border: 1px solid gold;
      border-radius: 100px;
      padding: 10px;
      margin: 30px 0 10px 0;
    }
    button:hover{
      color: black;
      background: yellow;
    }
}
.on-loose{
  display: block;
}
